<template>
  <div class="row">
    <div class="col-12">
      <q-btn @click="sendAPI" label="API Test"/>
    </div>
    <div class="col-12">
      결과 : {{ state.content }}
    </div>
  </div>
</template>

<script>
import { inject, reactive, onMounted  } from 'vue'

export default {
  setup() {
    const axios = inject('$axios');
    const state = reactive({
      title: 'API 테스트',
      content: ''
    })
    const sendAPI = async () => {
      try {
        const params = {
          dataA: 'aaa'
        }
        const rs = await axios.post('/api/test', params);
        console.log(rs);
        state.content = rs.data.msg;
      } catch (err) {
        console.error(err);
      }
    }
    onMounted(() => {
      sendAPI();
    })
    return {
      state, sendAPI
    }
  },
}
</script>
