<template>

  <div>
    <div>
      <MyToggle />
    </div>
  </div>

  <hr />
  <div class="outer">
    <h4>Teleport / Modal</h4>
    <div>
      <MyModal />
    </div>
  </div>

</template>

<script setup>
import MyToggle from '@/components/MyToggle'
import MyModal from '@/components/MyModal'

</script>
