#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

.v-enter-active, .v-leave-active {
    transition: opacity 0.5s ease;
}
.v-enter-from, .v-leave-to {
    opacity: 0;
}

.toggle-text {
    color: #fd7e14;
}
.modal {
    position: fixed;
    z-index: 999;
    top: 20%;
    left: 50%;
    width: 300px;
    margin-left: -150px;
}
.btn-temp {
    padding: 5px 12px;
    border: 1px solid #888888;
    border-radius: 8px;
    box-shadow: #555555;
    margin-bottom: 1.2em;
    transition: background-color .5s ease;
    font-size: .9em;
    font-weight: 600;
}
.modal-temp {
    position: fixed;
    z-index: 999;
    top: 20%;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    background-color: var(--vt-c-bg);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 16px #00000026;
}
.invisible {
    color: #888888;
}

