<template>
  <div>
    <div v-for="(item, i) in list" :ref="el => {if (el) divs[i] = el}">
      <span>{{ item }}</span>
    </div>
  </div>
</template>

<script>
import { ref, reactive, onBeforeUpdate } from 'vue';

export default {
  setup() {
    const list = reactive([1, 2, 3, 4, 5]);
    const divs = ref([]);

    //각 업데이트 전에 refs 를 재설정?
    onBeforeUpdate(() => {
      console.log('### divs ### ', divs)
      // divs.value = [];
    })

    return {
      list,
      divs
    }
  }
}
</script>
