<template>
  <div>
    <q-btn color="primary" label="update-Location" @click="updateLocation" />
    <br>
    location: {{ userLocation }}
    geolocation : {{ userGeolocation }}
  </div>
</template>

<script>
import { inject } from 'vue'

export default {
  // inject: ['location', 'geolocation'],
  setup() {
    /**
     * inject 함수는 2개의 파라미터를 가진다.
     * 1. inject 할 속성명
     * 2. 기본값 (선택사항)
     */
    const userLocation = inject('location', 'BUSAN');
    console.log('### userLocation ### ', JSON.stringify(userLocation));
    const userGeolocation = inject('geolocation');
    console.log('### userGeolocation ### ', JSON.stringify(userGeolocation));
    const updateLocation = inject('updateLocation');
    console.log('### updateLocation ### ', JSON.stringify(updateLocation));

    return {
      userLocation,
      userGeolocation,
      updateLocation,
      // inject
    }
  }
}
</script>
