<template>
  <div id="date1">Date1 : {{ date1 }}</div>
  <div id="date2">Date2 : {{ date2 }}</div>
  <hr />
  <button @click="increment">카운트: {{ count1 }}</button>
  <hr />
  <input type="text" :value="abbr" />
  <input type="text" v-model="normal" />
  <abbr :title="normal">{{ abbr }}</abbr>
  <hr />
  <hr />
  <p>counter1 : <span class="res">{{ counter1 }}</span></p>
  <p>counter2 : <span class="res">{{ counter2 }}</span></p>
  <p>합계 = <span class="res">{{ counter1 + counter2 }}</span></p>
  <button @click="counter1++">카운터1 ↑</button>
  <button @click="onClick2">카운터2 ↑</button>
</template>

<!-- Option API  -->
<script>
import { ref } from 'vue'

export default {
  // Composition API
  setup () {
    // Date
    const date1 = Date().toString()
    // Text
    const abbr = ref('CDAC')
    const normal = ref('CUTE DOGS AND CATS')
    //
    return {
      date1,
      abbr,
      normal
    }
  },
  // Option API
  data () {
    return {
      date2: Date().toString(),
      count1: 0,
      counter2: 0
    }
  },

  methods: {
    increment () {
      this.count1++
    }
  },
  mounted() {
    console.log(`## date1 : ${ this.date1 }`)
    console.log(`## date2 : ${ this.date2 }`)
    console.log(`## 카운트1의 초기값은 : ${ this.count1 }`)
  }
}
</script>

<!-- Composition API -->
<!--
<script setup>
import { ref, onMounted } from 'vue'

// 반응형 Data
const count = ref(0)

function increment() {
  count.value++
}

onMounted(() => {
  console.log(`카운트의 초기값은 => ${ count.value } !!`)
})
</script>
-->
