<template>
  <p>counter1 : <span class="res">{{ counter1 }}</span></p>
  <p>counter2 : <span class="res">{{ counter2 }}</span></p>
  <p>합계 = <span class="res">{{ counter1 + counter2 }}</span></p>
  <button @click="counter1++">카운터1 ↑</button>
  <button @click="onClick2">카운터2 ↑</button>
</template>

<script>
import { ref } from 'vue'

export default {
  data () {
    return {
      counter2: 0
    }
  },
  setup () {
    let counter1 = ref(0)

    const onClick = (evt) => {
      if (evt) {
        evt.preventDefault()
        counter1.value++
      }
    }
    return {
      counter1,
      onClick
    }
  },
  methods: {
    onClick2 (evt) {
      if (evt) {
        evt.preventDefault()
      }
      this.counter2++
    }
  }
}
</script>
