<template>
  <hr />
  <p>COUNTER : {{ counter }}</p>
  <p v-if="counter < 0">= 음수</p>
  <p v-else-if="counter > 0">= 양수</p>
  <p v-else>= 0</p>
  <button @click="counter--">- 1</button>
  <button @click="counter++">+ 1</button>

  <hr />
  <div style="width: 30%">
    <ol>
      <li v-for="item in items">{{ item }}</li>
    </ol>
  </div>

  <hr />
  <div>
    <p>options api :</p>
    <span v-for="so in small_items_opt" :key="so.idx">{{ so.text }}</span>
    <span v-for="bo in big_items_opt" :key="bo.idx">{{ bo.text }}</span>
  </div>
  <div>
    <p>composition api :</p>
    <span v-for="sc in small_items_com" :key="sc.idx">{{ sc.text }}</span>
    <span v-for="bc in big_items_com" :key="bc.idx">{{ bc.text }}</span>
  </div>

  <hr />
  
</template>

<script>
import {computed, ref} from 'vue'
import { reactive } from 'vue'

export default {
  /**  Options API */
  data () {
    return {
      optArr: [
        { idx: 1, text: '가나다라마' },
        { idx: 2, text: 'ABCDE' },
        { idx: 3, text: '12345' },
        { idx: 4, text: '一二三四五' },
        { idx: 5, text: '11000000111001' }
      ]
    }
  },
  computed: {
    small_items_opt () {
      return this.optArr.filter(i => i.idx < 3)
    },
    big_items_opt () {
      return this.optArr.filter(i => i.idx >= 3)
    }
  },

  /**  Composition API */
  setup () {
    let counter = ref(0)

    let items = reactive({ 1: '가나다', 2: 'ABC', 3: '一二三'})

    const comArr = reactive([
      { idx: 1, text: '가나다라마' },
      { idx: 2, text: 'ABCDE' },
      { idx: 3, text: '12345' },
      { idx: 4, text: '一二三四五' },
      { idx: 5, text: '11000000111001' }
    ])
    const small_items_com = computed(() => {
      return comArr.filter(i => i.idx < 3)
    })
    const big_items_com = computed(() => {
      return comArr.filter(i => i.idx >= 3)
    })

    return {
      counter,
      items,
      small_items_com,
      big_items_com
    }
  }
}
</script>
