<template>
  <hr />
  <p>{{ count_opt }}</p>
  <button @click="count_opt++">opt (+1)</button>

  <hr />
  <!-- immediate 황성화 O -->
  <p>{{ count_com1 }}</p>
  <button @click="count_com1++">버튼1 (+1)</button>
  <!-- immediate 활성화 X => watch 아무 로그 찍지 않음 -->
  <p>{{ count_com2 }}</p>
  <button @click="count_com2++">버튼2 (+1)</button>

  <hr />
  <p>상태 : {{ state }}</p>
  <button @click="onStop()">중지</button>
</template>

<script>
import { ref, watch, watchEffect } from 'vue'

export default {

  /**  Options API */
  watch: {
    count_opt: (cur, prev) => {
      console.log('Options APIs Watch :::::::::::::::::::::::: ', prev + ' => ', cur)
    }
  },
  data () {
    return {
      count_opt: 0,
    }
  },

  /**  Composition API */
  setup () {
    const count_com1 = ref(0)
    const count_com2 = ref(0)
    const state = ref('실행중')

    watch (
        count_com1,
        (cur, prev) => {
          console.log('Composition APIs Watch (+immediate opt) ::: ', prev, ' => ', cur) // count_com1
        },
        {
          immediate: true // 초기 데이터를 감지하고 싶은 경우 immediate 속성 추가
        }
    )
    watch ([count_com1, count_com2], (cur, prev) => {
      console.log('Composition APIs Multiple Watch ::::::::::: ', prev, ' => ', cur)
    })

    // watchEffect: 초기 변경값부터 감시를 시작함
    const stop = watchEffect(
      () => {
          console.log('Composition APIs watchEffect Called ::::::: ', count_com2.value)
        },
        {
          flush: 'post'  // pre(DOM 업데이트 전), post(DOM 업데이트 후) 에 콜백함수 호출
        }
    )

    const onStop = () => {
      state.value = '중지'
      stop()
      console.log('watchEffect 감시 중단 !!')
    }

    return {
      count_com1,
      count_com2,
      state,
      onStop
    }
  }
}
</script>
