<template>
  <div>
    <div class="row">
      <div class="col-2">
        <div class="text-h3">Basic</div>
      </div>
      <div class="col-10">
        <div class="text-body1">
          <q-avatar color="red" text-color="white" icon="directions"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="text-h3">Standard Sizes</div>
      </div>
      <div class="col-8">
        <div class="text-body1">
          <q-avatar color="red" text-color="white" icon="directions" size="xs"/>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  setup() {
    return {
    }
  }
}
</script>
