<template>
  <q-page>
    <div class="row">
      <div class="col-12"><avatar/></div>
      <div class="col-12">b</div>
      <div class="col-12">c</div>
    </div>
  </q-page>
</template>

<script>
/**
 * quasar components
 * Avatar
 * Badge
 * Banner
 * Bar
 * Breadcrumbs
 */
import avatar from '../../components/quasar/avatar.vue'
export default {
  components: {
    avatar
  }
}
</script>
