<template>

  <h4>Teleport</h4>
  <button class="btn-temp" @click="open = true">Modal Open</button>
  <Teleport to="body">
    <div v-if="open" class="modal modal-temp">
      <p>열었당~</p>
      <button class="btn-temp" @click="open = false">Close</button>
    </div>
  </Teleport>

  <hr />
  <h4>Multi Teleport</h4>
  <button class="btn-temp" @click="isDisable = !isDisable">disable</button>

  <Teleport to="#app">
    <div>teleport to 'app(1)</div>
  </Teleport>
  <Teleport to="#app">
    <div >teleport to 'app(2)</div>
  </Teleport>
  <Teleport to="#here" :disabled="!isDisable">
    <div>3) teleport to 'here</div>
    <!-- isDisable 가 false 면 타겟 DOM 으로 이동하여 보여진다 -->
  </Teleport>

</template>

<script setup>
import { ref } from 'vue'

const open = ref(false)
const isDisable = ref(false)
</script>
