<template>

  <div>
    <h4>Toggle</h4>
    <button class="btn-temp" @click="show = !show">Toggle Open/Close</button>
    <Transition>
      <p class="toggle-text" v-if="show">ㅎㅇㅎㅇ</p>
    </Transition>
  </div>

</template>

<script setup>
import { ref } from 'vue'

const show = ref(true)
</script>

<style scoped>

</style>
