<template>
  <div class="row">
    <div class="col">
      {{ state.rootState }}
    </div>
    <div class="col">
      <q-btn @click="updState" label="store 데이터 바꾸기" />
    </div>
  </div>
</template>

<script>
import { inject, reactive, computed, onMounted } from 'vue'
import { useStore } from 'vuex'

export default {
  setup(props, context) {
    console.log('context : ', context);

    const store = useStore();
    console.log('store(1) : ', store);
    console.log('store(2) : ', store.getters['rootState']);
    console.log('store(3) : ', store.getters['tmp/framework']);

    // const store = inject('$store');
    // console.log('store : ', store);
    // console.log('store : ', store.getters['rootState']);
    // console.log('store : ', store.getters['tmp/framework']);

    const state = reactive({
      rootState: computed(() => store.getters['rootState'])
    })
    const updState = async () => {
      store.commit('rootState', 'bbb');

      try {
        const res = await store.dispatch('tmp/framework');
        console.log('### dispatch : ', res);
      } catch (err) {
        console.error(err);
      }
    }
    onMounted(() => {
      store.commit('rootState', 'ccc');
    })

    return {
      state,
      updState
    }
  }
}
</script>
