<template>
  <div class="q-pa-md q-qutter-md">
    <q-card class="my-card" flat bordered>
      <q-card-section>
        <div class="text-h6">setup</div>
        <q-separator inset class="q-my-md" />
        <setup />
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import setup from '../components/composition/setup.vue'

export default {
  components: {
    setup
  }
}
</script>

<style lang="sass" scoped>
.my-card
  width: 100%
</style>
