<template>
  <div>m a i n - p a g e</div>
</template>

<script>
export default {
  created() {
  }
}
</script>

<script setup>
import { useStore } from 'vuex'
const store = useStore();
const rootTest = store.getters['rootState'];
const framework = store.getters['tmp/framework'];
</script>
